.navbar {
    display           : flex;
    background-color  : #4E4E4E;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 1);
    -moz-box-shadow   : 0px 0px 5px 1px rgba(50, 50, 50, 1);
    box-shadow        : 0px 0px 5px 1px rgba(50, 50, 50, 1);
    margin-bottom     : 5px;
}

.tableNavbar {
    border-spacing: 0;
}

.tableNavbar td {
    padding: 0px;
}

.tableNavbar button {
    padding   : 10px;
    background: transparent;
    border    : none;
    outline   : none;
    transition: 0.3s;

}

.tableNavbar button:hover {
    background-color: rgb(95, 95, 95);
    cursor          : pointer;
    transition      : 0.3s;
}

.tableNavbar button:active {
    background-color: #5162ff;
    transition      : 0.3s;
}

.tableNavbar #buttonActive {
    background-color: #5162ff;
}

#statusMQTT {
    flex : 1;
    float: right
}

#statusMQTT div {
    float: right
}