#card {
    border-radius     : 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow   : 0px 0px 3px 0px rgba(50, 50, 50, 1);
    box-shadow        : 0px 0px 3px 0px rgba(50, 50, 50, 1);
    padding           : 20px;
    margin            : 20px;

}

#card.intern {
    border-left  : 15px solid #5162ff;
    border-bottom: 1px solid #5162ff;
    border-top   : 1px solid #5162ff;
    border-right : 1px solid #5162ff;
    border-radius: 10px;
    padding      : 15px;
    margin       : 25px;
    box-shadow   : 0px 0px 10px -5px #000000;
    transition   : 0.5s;
    background-color: #F5F6FA;
    flex-wrap       : wrap;
}

#card.intern:hover {
    box-shadow: 0px 0px 15px -5px #000000;
    transition: 0.5s;
}

#card.main {
    display         : flex;
    flex-direction  : column;
    margin          : 30px;
    height          : 80%;
    overflow-x      : hidden;
    background-color: #fff;
    flex            : 1;
}