body,
html {
  padding: 0;
  margin : 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow               : hidden;
  background-color       : #F5F6FA;
}

body {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline      : none;
  border-radius: 5px;
  padding      : 10px;
  font-size    : 20px;
  border       : 1px solid rgb(182, 182, 182);
}

label,
input,
h1,
h2,
h3 {
  color: rgb(95, 95, 95);
}